.chat-main
  .chat-main__group
    .chat-main__group-info
      .chat-main__group-info__title
        title
      .chat-main__group-info__menber
        oma
      .chat-main__group-exit
    .chatgp-edit
      edit
  .chat-main__message-list
  .chat-main__message-form